*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  padding: 50px 30px;
}

input{
  padding: 10px 10px;
}

button{
  padding: 10px 50px;
  background-color: blue;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

p{
  font-size: 20px;
}

.alert{
  position: absolute;
  top: 50px;
  right: 10px;
  border-radius: 5px;
}

.color{
  background-color: blue;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px 50px;
}

.todo{
  padding: 5px 10px;
  background-color: #dedede;
  color: black;
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  position: relative;
}

.icon{
  position: absolute;
  top: 20px;
  right: 10px;
}

